.add {
    margin-top: 40px;
    margin-left: 50px;
}

.add button {
    background-color: #001F57;
    color: white;
    padding: 5px;
    border-radius: 4px;
}

table {
    border-style: none;
    margin-top: 70px;
    width: 70%;
    justify-content: center;
    font-size: 20px;
}

th {
    padding: 5px;
}

td {
    text-align: center;
    padding: 15px;
}

#update {
    background-color: #001F57;
    color: white;
    padding: 5px;
    border-radius: 4px;
}

#delete {
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 4px;
}